.btnloadmore {
    background-color: #4addae;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

.btnloadmore:hover {
    background-color: #159e7e;
    transform: scale(1.05);
}

.btnloadmore:focus {
    outline: none;
}